@use 'vars' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.center {
    padding-left: calc(50% - 1200px / 2);
    padding-right: calc(50% - 1200px / 2);
}

.header {
    padding-top: 196px;
    padding-bottom: 156px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    background: 
        url(img/big-star.svg) top -333px left 58.5vw no-repeat,
        url(img/star2.svg) top 94px left 4vw no-repeat,
        url(img/star3.svg) top 69px left 10vw no-repeat,
        url(img/star4.svg) top 538px left 65.2vw no-repeat,
        url(img/star5.svg) top 568px left 70vw no-repeat,
        rgb(225, 255, 143);
    background-attachment: local;

    &__title {
        max-width: 768px;
        @include title-style;
        color: $color-main;
    }

    &__text {
        margin-top: 24px;
        max-width: 720px;
        @include text-style;
        color: $color-main;

        &-bold {
            font-weight: bold;
        }
    }

    &__button {
        margin-top: 48px;
        @include button-style;
    }
}

.about {
    padding-top: 94px;
    background:
    url(img/sec_big_star.svg) top 109px left 67.7vw no-repeat,
    url(img/sec_med_star.svg) top 822px left 2.8vw no-repeat,
    url(img/sec_small_star.svg) top 770px left 1.7vw no-repeat,
    $color-main;

    &__title {
        @include title-style;
        color: $color-light;
    }

    &__text {
        margin-top: 24px;
        margin-bottom: 72px;
        @include text-style;
        color: $color-light;
    }

    &__content {
        display: grid;
        align-items: start;
        grid-template-columns: repeat(auto-fit, minmax(378px, 1fr));
        column-gap: 32px;

        & > :nth-child(n+4):nth-child(-n+6) {
            align-self: end;
        }

        .game-card {
            max-width: 378px;
            overflow: hidden;
            height: auto;
            border-radius: 30px;
            background: $color-light;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }

            &__img {
                border-radius: 30px;
                height: auto;
                aspect-ratio: 5 / 4.154;

                &_item1 {
                    background:
                    url(img/guess_the_number_ico.svg) center top 40px no-repeat,
                    url(img/guess_the_number.png) center no-repeat,
                    #AD61FF;
                }

                &_item2 {
                    background:
                    url(img/simple_arithmetic.svg) center no-repeat,
                    #FDAD00;
                }

                &_item3 {
                    background:
                    url(img/flip_the_text.svg) center no-repeat,
                    #565EEF;
                }

                &_item4 {
                    background:
                    url(img/stone-scissors-paper-hend.png) center no-repeat,
                    url(img/stone-scissors-paper-card.svg) center top 28px no-repeat,
                    url(img/stone-scissors-paper.svg) center no-repeat,
                    #271A58;
                }

                &_item5 {
                    background:
                    url(img/simple_quiz_card.svg) center top 28px no-repeat,
                    url(img/simple_quiz.svg) center no-repeat,
                    #99D100;
                }

                &_item6 {
                    background:
                    url(img/random_color.svg) top 50% left 35% no-repeat,
                    #271A58;
                }
            }

            &__info {
                padding: 32px 32px 36px 32px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex-wrap: nowrap;
                gap: 16px;
            }

            &__number {
                @include game-card-number-style;
            }

            &__name {
                @include game-card-name-style;
            }
        } 
    }
}

.mini-games {
    padding-top: 96px;
    padding-bottom: 144px;
    background:
        url(img/sec_med_star.svg) no-repeat 91.5vw 180px/69px,
        url(img/sec_small_star.svg) no-repeat 88.5vw 146px/35px,
        url(img/green_star.svg) no-repeat 91vw 3417px/69px,
        url(img/green_star.svg) no-repeat 86.5vw 3465px/41px,
        $color-main;

    &__title {
        @include title-style;
        color: $color-light;
    }

    &__content {
        margin-top: 72px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
    }

    &__card {
        grid-column: span 12;
        border-radius: 30px;
        overflow: hidden;
        background: $color-light;
        display: flex;
        flex-direction: row-reverse;

        &:nth-child(2n) {
            flex-direction: row;
        }

        &-img {
            width: 50%;
            height: auto;
            aspect-ratio: 6 / 5;
            border-radius: 30px;

            &_item1 {
                background:
                    url(img/guess_the_number_ico.svg) no-repeat 50% 85% / 70%,
                    url(img/guess_the_number.png) no-repeat center / 165%,
                    #AD61FF;
            }

            &_item2 {
                background:
                url(img/simple_arithmetic.svg) no-repeat 29% 52% /152% ,
                #FDAD00;
            }

            &_item3 {
                background:
                    url(img/flip_the_text.svg) no-repeat 54% 53%/191%,
                    #565EEF;
            }

            &_item4 {
                background:
                    url(img/stone-scissors-paper-hend.png) no-repeat 50% / 25%, 
                    url(img/stone-scissors-paper-card.svg) no-repeat 50% 86% / 65%,
                    url(img/stone-scissors-paper.svg) no-repeat 50% / 165%,
                    #271A58;
            }

            &_item5 {
                background:
                    url(img/simple_quiz_card.svg) no-repeat center 95% / 65%,
                    url(img/simple_quiz.svg) no-repeat center /165%,
                    #99D100;
            }

            &_item6 {
                background:
                    url(img/random_color.svg) no-repeat 36% 49%/145%,
                    #271A58;
            }
        }

        &-info {
            padding: 48px;
            width: 50%;
            background: $color-light;
        }

        &-title {
            font-size: 48px;
            font-weight: 700;
            line-height: 59px;
            color: $color-main;
        }

        &-text {
            margin-top: 24px;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            color: $color-main;
        }

        &-button {
            margin-top: 36px;
            @include button-style;
        }
    }
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #BCEC30;
    color: $color-main;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
}

.dialogRandomColorGenerator {
    width: 50%;
    top: 20%;
    left: calc(50vw - 50% / 2);
    border-radius: 0px 50px / 0px 50px;
    border: 4px solid $color-light;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.8);
    }

    &__rndColorBtn {
        margin-top: 225px;
        margin-bottom: 50px;
        margin-left: calc(50% - 247px / 2);
        @include button-style;
    }

    &__rndColorCloseBtn {
        height: 50px;
        width: 50px;
        position: fixed;
        top: 15%;
        left: 75%;
        border: 4px solid $color-light;
        border-radius: 50%;
        cursor: pointer;
        background: red;
        

        &::before,
        &::after {
            content: "";
            position: absolute;
            background: $color-light;
            width: 80%;
            height: 12%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}

@media (min-width: 1025px) and (max-width: 1240px) {
    .center {
        padding-left: 20px;
        padding-right: 20px;    
    }

    .about {
        &__content{
            padding-left: calc(50% - 788px / 2);
            padding-right: calc(50% - 788px / 2);
            align-items: stretch;
            gap: 32px;

            & > :nth-child(n+4):nth-child(-n+6) {
            align-self: stretch;
            }
        }
    }

    
}
@import 'marquee';
@import 'tablet';
@import 'mobile';