.title {
    display: block;
    color: tomato;
}

.button {
    font-size: 1.2rem;
    padding: 0.25rem 1.25rem;
    border-radius: 1.5rem;
    cursor: pointer;
    background-color: cornsilk;
}

.text{
    width: 50rem;
    font-size: 1.5rem;
}